<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://static.tvtropes.org/design/assets/bundle.css?rev=279" />

<title>Búsqueda de tropo</title>
</head>

<script>
	function onSearchButtonClick() {
		var searchText = document.querySelector('input[name="search-box"]').value;
		var searchBy = document
				.querySelector('input[name="search-by"]:checked').value;
		var mediaTypeFilter = document
				.querySelector('select[name="media-type-filter"]').value;
		var relatedMediaMin = document
				.querySelector('input[name="related-media-min"]').value;
		var relatedTropesMin = document
				.querySelector('input[name="related-tropes-min"]').value;
		var sortBy = document.querySelector('input[name="sort-by"]:checked').value;

		location.href = "/tropes/searchByName?name=" + searchText
	}
</script>

<body class="">
	<header id="main-header-bar" class="headroom-element">
		<div id="main-header-bar-inner">
			<span id="header-spacer-left" class="header-spacer"></span> <a
				href="https://tvtropes.org" id="main-header-logoButton"
				class="no-dev"></a> <span id="header-spacer-right"
				class="header-spacer"></span>
			<h1
				style="text-align: center; width: 200px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto">Buscar</h1>
		</div>
	</header>
	<br>
	<section
		style="text-align: center; margin: 0px auto; height: auto; width: 450px; background: #fbfbfc; box-shadow: 0 0 7px 0 rgba(0, 0, 0, .08); border-radius: 8px; left: 0; top: 0; box-shadow: 0 0 7px 0 rgba(0, 0, 0, .08); box-sizing: border-box; padding: 32px">
		<div class="action-bar mobile-off">Texto a buscar</div>
		<form class="search">
			<input name="search-box" class="search-box" type="text"
				placeholder="Buscar" value="" required> <input
				class="submit-button" type="submit" value="&#x2315">
		</form>
		<hr>
		<div id="main-content-sidebar">
			<div class="sidebar-item">
				<p class="sidebar-item-title" data-title="Buscar por">Buscar por</p>
				<ul class="padded font-s" style="text-align: left">
					<li><input type="radio" name="search-by" value="Name" checked>Nombre</input></li>
					<li><input type="radio" name="search-by" value="Keywords">Contenido</input></li>
					<li><input type="radio" name="search-by" value="RelatedMedia">Medios
						relacionados</input></li>
					<li><input type="radio" name="search-by" value="RelatedTropes">Tropos
						relacionados</input></li>
				</ul>
			</div>
			<div class="sidebar-item">
				<p class="sidebar-item-title" data-title="Filtros">Filtros</p>
				<ul class="padded font-s" style="text-align: left">
					<li>El tropo debe aparecer en</li>
					<li><select name="media-type-filter"
						title="Medios en los que el tropo aparece">
							<option value="*">Cualquier medio</option>
							<option value="Animation">Animación</option>
							<option value="WesternAnimation">Animación Occidental</option>
							<option value="Anime">Anime</option>
							<option value="Ride">Atracciones</option>
							<option value="ComicBook">Comics</option>
							<option value="Creator">Creadores</option>
							<option value="Disney">Disney</option>
							<option value="Franchise">Franquicias</option>
							<option value="TabletopGame">Juegos de mesa</option>
							<option value="Toys">Juguetes</option>
							<option value="Literature">Literatura</option>
							<option value="Manga">Manga</option>
							<option value="Manhua">Manhua</option>
							<option value="Manhwa">Manhwa</option>
							<option value="Myth">Mitos</option>
							<option value="Music">Música</option>
							<option value="LightNovel">Novelas Ligeras</option>
							<option value="VisualNovel">Novelas Visuales</option>
							<option value="Theatre">Obras de Teatro</option>
							<option value="Website">Páginas web</option>
							<option value="Film">Películas</option>
							<option value="Radio">Radio</option>
							<option value="Series">Series</option>
							<option value="VideoGame">Videojuegos</option>
							<option value="Webcomic">Webcomics</option>
					</select>
					</li> 
					<li> Y tiene que tener por lo menos </li>
					<li><input type="number" min=0 max=999
						name="related-media-min" value=0 style="width: 40px">
						medios relacionados</li>
					<li><input type="number" min=0 max=999
						name="related-tropes-min" value=0 style="width: 40px">
						tropos relacionados</li>
				</ul>
			</div>
			<div class="sidebar-item">
				<p class="sidebar-item-title" data-title="Ordenar por">Ordenar
					por</p>
				<ul class="padded font-s" style="text-align: left">
					<li><input type="radio" name="sort-by" value="Name" checked>Nombre</li>
					<li><input type="radio" name="sort-by" value="RelatedMedia">Número
						de medios relacionados</li>
					<li><input type="radio" name="sort-by" value="RelatedTropes">Número
						de tropos relacionados</li>
				</ul>
			</div>
		</div>
		<hr>
		<button id="start-search-button" class="action-bar mobile-off"
			style="font-weight: heavy; font-size: 16px; width: 100%"
			onclick="onSearchButtonClick()">Iniciar búsqueda</button>

	</section>

</body>

</html>
