<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" th:href="@{/css/bundle.css}"/>

	<!-- TODO: pasar nombre del tropo y mostrar -->
	<title th:text="${trope.name}">Tropo</title>
</head>

<script>

	function SmoothScrollTop() {
		window.scroll({
			  top: 0, 
			  left: 0, 
			  behavior: 'smooth'
			});
	}

</script>

<body class="">
	<header id="main-header-bar" class="headroom-element">
		<div id="main-header-bar-inner">
			<span id="header-spacer-left" class="header-spacer"></span>
			
			<a href="https://tvtropes.org" id="main-header-logoButton" class="no-dev"></a>
			
			<span id="header-spacer-right" class="header-spacer"></span>
			<h1 style="text-align: center; width:200px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto">Tropespace</h1>
		</div>
	</header>
	<br>
	
    <!-- TODO: botón para volver a la búsqueda -->
	<div id="main-container">
	    <div id="action-bar-top" class="action-bar mobile-off"></div>
	    <div id="main-content" class="page-Article ">
	        <article id="main-entry" class="with-sidebar">
	            <h1 class="entry-title" th:text="${trope.name}"></h1>

	            <div id="main-article" class="article-content retro-folders">
	            	<span th:text="${trope.laconic}"></span>
	            	<hr>
	            	<span th:text="${trope.content}"></span>
	                <hr>
	                <h2> Medios relacionados:</h2>
	                <p></p>
	                <table>
						<tbody>
							<tr th:if="${trope.media.empty}">
								<td colspan="2">El tropo no aparece en ningún medio.</td>
							</tr>
							<tr th:each="media : ${trope.media}">
								<td><span th:text="${media.mediaType}"> Nombre </span></td>
								<td>
									<ul th:each="media_url : ${media.mediaUrls}">
										<li><a th:text="${media_url}" th:href="@{'https://tvtropes.org/pmwiki/pmwiki.php/' + ${media.mediaType} +'/' + ${#strings.replace(media_url, ' ', '')}}"> URL </a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
	                <p></p>
	                <h2> Tropos relacionados:</h2>
	                <p></p>
	                <table>
						<tbody>
							<tr th:if="${trope.relatedTropes.empty}">
								<td colspan="2">El tropo no tiene ningún otro tropo relacionado.</td>
							</tr>
							<tr th:each="relatedTrope : ${trope.relatedTropes}">
								<td><a th:text="${relatedTrope}" th:href="@{'https://tvtropes.org/pmwiki/pmwiki.php/Main/' + ${#strings.replace(relatedTrope, ' ', '')}}"> URL </a></td>
							</tr>
						</tbody>
					</table>
	            </div>
	        </article>

	        <div id="main-content-sidebar">
	        	<!-- TODO: rellenar con estadísticas -->
	        </div>
	    </div>
		<div id="action-bar-bottom" class="action-bar tablet-off">
			<a href="#top-of-page" class="scroll-to-top dead-button"
				onclick="SmoothScrollTop()">Top</a>
		</div>
	</div>
</body>

</html>
